.main{
    height: 250px;
    width: 250px;
    border: 2px solid black;
    margin-left: 40%;
    margin-top: 10%;
    background-color: darkgrey;
}

p{
    text-align: center;
    font-size: 25px;
}
button{
    justify-content: center;
    margin-inline: 35px;
    height: 30px;
    width: 60px;
    border: 5px solid yellowgreen;
}
.btn1{
    margin-left: 20px; 
}
button:hover{
    cursor: pointer;
    background-color: rgb(228, 135, 12);

}

body{
    background-color: darkolivegreen;
}